.container {
  width: 100%;
}

.navbar {
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e12301;
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links {
  color: white;
  text-decoration: none;
  transition: all 0.5s ease;
  font-size: 2.25rem;
}

.links:hover {
  color: black;
}

.title {
  padding-left: 50px;
  font-size: 3.5rem;
}

@media (max-width: 775px) {
  .title {
    font-size: 2.5rem;
    padding-left: 20px;
  }
}

@media (max-width: 520px) {
  .title,
  .links {
    font-size: 2rem;
  }
}
